<h2><%= news.title %></h2>

<div id="news" class="row">

  <div class="twothird">
    <% if news.teaser.length > 3 %>
      <h3 class="subheader"><%= news.teaser %></h3>
    <% end %>

    <%= news.message_formatted %>

    <%= partial :event_results, event: news.event %>

  </div>

  <div class="third info">
    <h6>Erschienen</h6>
    <p><%= news.date_formatted %></p>
    <h6>Autor</h6>
    <p><a href="<%= news.person.link %>"><%= news.person.name %></a></p>
  </div>

</div>
