<% if page_count > 1 %>
  <div class="pagination">
    <span class="pages">Seite <%= page %> von <%= page_count %></span>
    <span class="page-items">
      <% pagination(page, page_count, url).each do |p| %>
        <% if p[:href] %>
          <a href="<%= p[:href] %>"><%= p[:title] %></a>
        <% else %>
          <span><%= p[:title] %></span>
        <% end %>
      <% end %>
    </span>
  </div>
<% end %>
