<h2><%= person.name %></h2>

<div id="person" class="row">

  <div class="twothird">
    <% if participations.count > 0 %>

      <h3>Ergebnisse</h3>

      <% participations.each do |year, participations| %>

        <table class="width-100 simple stroked">

          <thead>
            <tr>
              <th><%= year %></th>
              <th class="right">Ges.</th>
              <th class="right">AK</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <td colspan="3"><%= person.total_distance_per_year(year) %> km in <%= participations.count %> Rennen</td>
            </tr>
          </tfoot>

          <tbody>
            <% participations.each do |p| %>
              <tr>
                <td><a class="black" href="<%= p.event.link %>"><%= p.event.title %>, <%= p.event.distance %> km</a></td>
                <td class="right"><%= p.position_overall %></td>
                <td class="right"><%= p.position_age_class %></td>
              </tr>
            <% end %>
          </tbody>

        </table>

      <% end %>

    <% end %>
  </div>

  <div class="third">
    <% if participations.count > 0 %>
      <h6>Kontakt</h6>
      <p><a class="email black"><%= person.encrypted_email %></a></p>
      <h6>Statistiken</h6>
      <p><%= person.total_distance %> km in <%= person.results.count %> Rennen</p>
    <% end %>
  </div>

</div>
