<section id=home class="row container">

  <figure>
    <img src="<%= static %>/home/2014.jpg" width="826" height="381"/>
  </figure>

  <% if sponsors.count > 0 %>
    <h4>Unsere Partner und Sponsoren</h4>
    <ul class="block-four">
      <% sponsors.each_with_index do |s, index| %>
        <li class="sponsor<%= index %>">
          <a<% if s.url.length > 0 %> href="<%= s.url %>"<% end %> class="img">
            <img src="<%= s.image_url %>" alt="<%= h s.title %>"/>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if news.count > 0 %>
    <h4><a class="black" href="/news">Nachrichten &amp; Rennberichte</a></h4>
    <ul class="block-four">
      <% news.each_with_index do |n, index| %>
        <li<% if index % 4 == 0 %> style="clear:both"<% end %>>
          <h5>
            <% if n.message.length > 3 %>
              <a class="black" href="<%= n.link %>"><%= n.title %> »</a>
            <% else %>
              <%= n.title %>
            <% end %>
          </h5>
          <h5 class="subheader"><%= n.date_formatted %></h5>
          <p><%= n.teaser %></p>
        </li>
      <% end %>
    </ul>
  <% end %>

</section>
