<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title><% if defined? title %><%= title %> - Berlin Racing Team<% else %>Berlin Racing Team <% end %></title>
  <link rel="stylesheet" href="/css/master.css?1">
</head>

<body>

  <section class="container">

    <%= partial :header %>
    <%= partial :nav %>

    <%= yield %>

    <%= partial :footer %>

  </section>

  <%= partial :javascript %>
</body>
</html>
